services:
  shop-sba:
      image: eclipse-temurin:21-jdk
      container_name: shop-sba
      ports:
        - 8084:8080
        - 8004:8000
      expose:
        - "8004"
      depends_on:
        - shopdb
      networks:
        - my-net
      extra_hosts:
      - "host.docker.internal:host-gateway"
      volumes:
        - ./build/libs/fastgo_shop-0.0.1-SNAPSHOT.jar:/app/app.jar
      command: >
        sh -c "mkdir -p /app && java -Xdebug -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:8000 -jar /app/app.jar"
      working_dir: /app
      entrypoint: >
        java -Xdebug -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:8000 -jar /app/app.jar

  shopdb:
    image: mongo:5.0
    container_name: shopdb
    ports:
        - 27021:27017
    networks:
          - my-net

networks:
      my-net:
        driver:
         'bridge'

